* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

#header {
    background-color: aqua;
}

#header h1 {
    font-size: 50px;
}

#header div {
    display: flex;
    justify-content: end;
    font-size: 20px;
}

#jumbotron {
    height: 50px;
    display: flex;
    justify-content: end;
    align-items: bottom;
    background-color: rgb(0, 234, 255);
    font-size: 25px;

    
}

#about {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 145, 255);
}

#about h3 {    
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    border-right: 3px solid blue;
    margin: 5px;
    font-size: 30px;
    word-break: break-all;
}

#about p {    
    width: 75%;
}

#work {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, rgb(0, 98, 255), rgb(17, 0, 255))
}

#work h3 {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    border-right: 3px solid blue;
    margin: 5px;
    font-size: 30px;
}

#gridcard {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-between;
    justify-content: center;
}

.card {
    width: 400px;
    height: 400px;
    margin: 10px;
    background-color: black;
    color: aliceblue;
    display: flex;
    align-items: flex-end;
  }

#footer {
    background-color: aqua;
    display: flex;
    justify-content:space-between;
    
}

#footer h3 {
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 15px; 
    padding-bottom: 15px; 
    padding-right: 10px;
    border-right: 3px solid blue;
    margin: 2.5px;
    font-size: 30px;
}

#footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px; 
    padding-bottom: 15px; 
    font-size: 30px;

}
